@model Codebucket.Models.ViewModels.ConctactLogViewModel

@{
    ViewBag.Title = "Contact";
}
<head>
    <link href="@Url.Content("~/Content/ContactUs.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row contactUs">

        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="wrap" >
                <h2>Contact Us</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-field col s12">
                @Html.LabelFor(model => model._contactName, htmlAttributes: new { @class = "active" })
                    <div class="col-md-12">
                       @Html.EditorFor(model => model._contactName, new { htmlAttributes = new { @class = "validate" } }) 
                       @Html.ValidationMessageFor(model => model._contactName, "", new { @class = "validate" })
                    </div>
                </div>

                <div class="input-field col s12">
                @Html.LabelFor(model => model._contactEmail, htmlAttributes: new { @class = "active" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model._contactEmail, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model._contactEmail, "", new { @class = "validate" })
                    </div>
                </div>
                @Html.LabelFor(model => model._contactMessage, htmlAttributes: new { @class = "active control-label" })


                <div class="input-field col s12">
                 @Html.TextAreaFor(model => model._contactMessage, new { htmlAttributes = new { @class = "active validate" } })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model._contactMessage, "", new { @class = "validate" })
                    </div>
                </div>

                <div class="form-group" >
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@

    </div>
</body> 
