@using Codebucket.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section class="row Login">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col s12", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="wrap">

            <h2>@ViewBag.Title.</h2>
            <h4>Use a local account to log in.</h4>

            <div class="input-field col s12">
                <i class="material-icons prefix">perm_identity</i>
                @Html.TextBoxFor(m => m.UserName, new { @id = "icon_prefix", @class = "validate" })
                @Html.LabelFor(m => m.UserName, new { @class = "active control-label " })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "validate" })
                
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                @Html.PasswordFor(m => m.Password, new { @id = "icon_prefix", @class = "validate" })
                @Html.LabelFor(m => m.Password, new { @class = "active " })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validate" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                

            </div>

            @*The checkbox is invisible for some reason*@
            @*<div class="input-field col s12">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @disabled = "true", @class = "check" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>*@

            <div id="buttonControl">
                <div class="input-field col s8">
                    <input type="submit" value="Log in" class="btn waves-effect waves-light col s12" />
                </div>

                <div class="input-field col s8">
                    <a class="btn waves-effect waves-light col s12" href="@Url.Action("Register")">Register</a>
                </div>
            </div>
            </div>
        

        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }

</section>

<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

<script src="//cdn.muicss.com/mui-0.9.3/js/mui.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function() {
        Materialize.updateTextFields();
	});

</script>