@model Codebucket.Models.ViewModels.AddMemberViewModel

<div id="add-member-form">
    <div class="confirmRemDel">
        <br />
        <p>Please <b>enter the username</b> of the user you want to <b>add to the project</b>.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="center-input-name-add-mem">
                @Html.LabelFor(model => model._userName, "User name", htmlAttributes: new { @class = "active control-label input-lg" })

                @Html.EditorFor(model => model._userName, new { htmlAttributes = new { @class = "validate" } })
                @Html.ValidationMessageFor(model => model._userName, "", new { @class = "validate" })

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model._projectID, "", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model._projectID, new { htmlAttributes = new { @class = "form-control" } })

            <div>
                @Html.ActionLink("Back", "DisplayProject", new { id = Model._projectID }, new { @class = "btn btn-default" })
                <input type="submit" value="Add" class="waves-effect waves-light btn" />
            </div>
        }
    </div>
</div>


