@model Codebucket.Models.ViewModels.ProjectViewModel
@using Codebucket.Models.ViewModels

@{
    ViewBag.Title = "Project Overview";
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
}

@{string owner = "";}
@if (@Model._isProjectOwner == true)
{
    owner = "you!";
}
else
{
    owner = @Model._projectOwnerName;
}

<h2><b>@Model._projectName</b></h2>
<h3 class="memberHeader">Owned by <b>@owner</b></h3>
<br />
<br />
<h3 id="fileTableHeader">Files</h3>

<h3 id="memberTableHeader">Members</h3>
@if (Model._isProjectOwner == true)
{
    <div class="AddMemberDisplay">
        <a href="/Project/AddProjectMember?projectID=@Model._id" title="Add member">
            <img id="AddMemberIcon" alt="Remove" src="~/Content/Symbols/AddMember.png" />
        </a>
    </div>
}
@if (Model._isProjectOwner == false)
{
    <div class="AddMemberDisplay">
        <a href="/Project/LeaveProject?projectID=@Model._id" title="Leave project">
            <img id="LeaveProjectIcon" src="~/Content/Symbols/LeaveProjectRed.png"/>
        </a>
    </div>
}

<div class="tablesInline">
    <table id="projectDisplay" class="highlight bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Filename</th>
                <th scope="col">Preview</th>
                <th scope="col">
                @if (Model._isProjectOwner == true)
                {
                    <a href="/Project/CreateNewProjectFile/@Model._id" title="New file">
                        <img id="addFileIcon" alt="New file" src="~/Content/Symbols/AddFile.png" />
                    </a>
                }
                </th>
            </tr>
        </thead>
        <tbody>
            @{int counter = 1;}
            @foreach (ProjectFileViewModel item in Model._projectFiles)
            {
                string preview = item._projectFileData.Length > 20 ? item._projectFileData.Substring(0, 20) + "..." : item._projectFileData + "...";
                <tr>
                    <td scope="row">@counter</td>
                    <td>@Html.ActionLink(item._projectFileName, "EditProjectFile", new { id = item._id }, new { @class = "collection-item" })</td>
                    <td>@preview</td>
                    <td class="fileDel">
                        @if (Model._isProjectOwner == true && Model._projectFiles.Count > 1)
                        {
                            <figure>
                                <a href="/Project/DeleteProjectFile/@item._id" title="Delete file">
                                    <img class="delSymbol" alt="not found" src="~/Content/Symbols/delete.png" />
                                </a>
                            </figure>
                        }
                    </td>
                </tr>
                counter++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    @Html.ActionLink("Back", "../Overview/Index", null, new { @class = "btn btn-default" })
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="tablesInline">
    <table id="memberDisplay" class="highlight">
        <tbody>
            @if (Model._projectMembers.Count == 0 && Model._isProjectOwner == true)
            {
                <tr>
                    <td class="noMembers">You have not added anyone yet</td>
                </tr>
                <tr>
                    <td class="noMembers">@Html.ActionLink("Click here to add the first one!", "AddProjectMember", new { projectID = Model._id })</td>
                </tr>
            }
            @if (Model._projectMembers.Count == 0 && Model._isProjectOwner == false)
            {
                <tr>
                    <td>There are no members yet</td>
                </tr>
            }
            @foreach (ProjectMemberViewModel item 
                in Model._projectMembers)
            {
                <tr>
                    <td>
                        <div class="chip">
                            <img class="persImg" src="~/Content/Symbols/person.png" alt="Contact Person">
                            @Html.DisplayFor(modelItem => item._userName)
                        </div>
                    </td>
                    <td>
                        @if (Model._isProjectOwner == true)
                        {
                            <a href="/Project/DeleteProjectMember?projectMemberID=@item._id" title="Remove from project">
                                <img class="delSymbolMembers" alt="not found" src="~/Content/Symbols/RemoveUser.png" />
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
