@model Codebucket.Models.ViewModels.ProjectFileViewModel
<head>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

@*link to the ace website: https://ace.c9.io/#nav=embedding*@

<div class="form-group">
    <div class="FileName">
        
            <h2>@Model._projectFileName</h2>
        
    </div>
    <div class="ThemeSelect">
      <br/>
        <select id="theme" class="form-control">
            <option value="ambiance">ambiance</option>
            <option value="chrome">chrome</option>
            <option value="clouds">clouds</option>
            <option value="clouds_midnight">clouds_midnight</option>
            <option value="github">github</option>
            <option value="monokai" selected>monokai</option>
            <option value="xcode">xcode</option>
        </select>
    </div>
</div>

@*This is where Ace is shown*@
<div id="editor"></div>
@*Automatic language detection connected to this div*@
<div id="language">@Model._aceExtension</div>

<div id="documentID">@Model._id</div>

<form id="data" method="post">
    @Html.HiddenFor(model => model._id, new { htmlAttributes = new { @class = "editor" } })
    @Html.HiddenFor(model => model._projectFileName, new { htmlAttributes = new { @class = "editor" } })
    @Html.HiddenFor(model => model._projectFileType, new { htmlAttributes = new { @class = "editor" } })
    @Html.HiddenFor(model => model._projectFile, new { htmlAttributes = new { @class = "editor" } })
    @Html.HiddenFor(model => model._aceExtension, new { htmlAttributes = new { @class = "editor" } })
    @Html.HiddenFor(model => model._projectID, new { htmlAttributes = new { @class = "editor" } })

        <textarea class="editor">@Model._projectFileData</textarea>
        @Html.TextAreaFor(model => model._projectFileData, new { @class = "editor" })
        <button type="submit" class="SaveButtonEdit waves-effect waves-light btn" >Save</button>
        @Html.ActionLink("Back", "DisplayProject", new { id = Model._projectID, onclick = "BackBTN();" }, new { @class = "btn btn-default" })

    </form>
    <div class="chat">
        <h2 class="h2Chat">Chat</h2>
    <div class="container">
        <input type="text" id="message" class="message" />
        <input type="button" id="sendmessage" value="Send" class="sendMessage waves-effect waves-light btn" />
        <input type="hidden" id="displayname" class="DisplayName" />
        <ul id="discussion"></ul>
    </div>
</div>

