@model IEnumerable<Codebucket.Models.ViewModels.ProjectFileViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._projectFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._projectFileType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._projectFileData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._projectID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item._projectFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._projectFileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._projectFileData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._projectID)
            </td>
            <td>
                @Html.ActionLink("Edit", "updateProjectFile", new { item._projectFile}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("CREATE FILE", "createNewProjectFile", new { @class = "btn btn-primary btn-sm" })
<br />
@Html.ActionLink("ADD MEMBER", "addProjectMember", new { @class = "btn btn-primary btn-sm" })
<br />
@Html.ActionLink("EDITOR", "updateProjectFile", new { @class = "btn btn-primary btn-sm" })

