@model Codebucket.Models.ViewModels.ProjectFileViewModel
<head>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

@*link to the ace website: https://ace.c9.io/#nav=embedding*@

<div class="form-group">
        <div class="SideBySide">
            <label for="theme" class="control-label">Theme:</label>
            <select id="theme" class="form-control">
                <option value="ambiance">ambiance</option>
                <option value="chrome" selected>chrome</option>
                <option value="clouds">clouds</option>
                <option value="clouds_midnight">clouds_midnight</option>
                <option value="github">github</option>
                <option value="monokai">monokai</option>
                <option value="xcode">xcode</option>
            </select>
        </div>
        @*<div class="SideBySide">
            <label for="mode" class="control-label">Language Mode:</label>
            <select id="mode" class="form-control">
                <option value="javascript">javascript</option>
                <option value="html">html</option>
            </select>
        </div>*@
        <div class="SideBySide">
            <label>Project Name</label>
        <div id="ProjectFileName">        
           @Html.DisplayFor(m => m._projectFileName)
        </div>
    </div>
</div>

@*This is where Ace is shown*@
<div id="editor"></div>

<div id="language">@Model._aceExtension</div>

<form method="post">
	@Html.HiddenFor(model => model._id, new { htmlAttributes = new { @class = "editor" } })

	<textarea class="editor">@Model._projectFileData</textarea>
	@Html.TextAreaFor(model => model._projectFileData, new { @class = "editor" } )
	<button type="submit" class="SaveButtonEdit">Save</button>
</form>

<script src="~/Ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

	var editor = (function () {
		var aceEditor = ace.edit("editor");
		// default theme
		aceEditor.setTheme("ace/theme/chrome");
		// default mode
		var language = $('#language').text();
		$('#language');
		alert(language);
		aceEditor.getSession().setMode("ace/mode/" + language);
		return aceEditor;
	})(); 

	$('#theme').change(function () {
		var e = document.getElementById("theme");
		var strTheme = e.options[e.selectedIndex].value;
		editor.setTheme("ace/theme/" + strTheme);
	});

	$('#mode').change(function () {
		var e = document.getElementById("mode");
		var strMode = e.options[e.selectedIndex].value;
		editor.getSession().setMode("ace/mode/" + strMode);
	});

	var textarea = $('textarea[class="editor"]').hide()
	editor.getSession().setValue(textarea.val());
	editor.getSession().on('change', function () {
		textarea.val(editor.getSession().getValue());
	});

	

</script>